<nav
    style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: 40px; width: 100%;">
    <div style="display: flex;flex-direction: row;justify-content: space-between; width: 45%;">
        <img src="./../../../assets/logo.png" style="object-fit: contain;width: 25%; height:50px" alt="">
        <div class="Icon-inside " style="margin-left: 50px; width: 65%; margin-top: 10px;">
            <input type="text" style="width: 100%;" placeholder="Search For Patient (Code, Name, Phone Number)">
            <i class="fa fa-search " aria-hidden="true"></i>
        </div>
    </div>
    <div style=" margin-top: 10px; display: flex;flex-direction: row;justify-content: space-between; width: 25%;">
        <div class="dropdown" style="border-right: solid 1px rgb(3,87,168);width: 25%;color: rgb(3,87,168);">
            <button style="color: rgb(3,87,168);background-color: white; width: 100%;" class="btn dropdown-toggle"
                type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                English
            </button>
            <ul style="color: rgb(3,87,168);" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" style="color: rgb(3,87,168);" href="#">Arbic</a></li>
                <li><a class="dropdown-item" style="color: rgb(3,87,168);" href="#">German</a></li>
                <li><a class="dropdown-item" style="color: rgb(3,87,168);" href="#">French</a></li>
            </ul>
        </div>
        <div style=" width: 65% ;display: flex;flex-direction: row;">
            <img src="../../../assets/user.png" width="30px" height="30px" style="object-fit: cover;" alt="" srcset="">
            <p style="margin-top: 8px;margin-left: 8px; font-size:xx-small;color: rgb(3,87,168);">Mohamed Aboelkasem
                Mohamed</p>
        </div>
    </div>
</nav>